.selector-for-some-widget {
  box-sizing: content-box;
}

ul {
    list-style-position: outside;
    padding-inline-start: 0px;
}
  
  li {
    list-style-type: none;
}

.ca-menu {
    display: flex;
    height: 100%;
}
  
  .ca-menu li {
    padding-left: 16px;
}

.ca-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.border {
  color: greenyellow;
}
